<% include partials/header %>
    
    <main class="main__content">
      
      <header>
        <div class="header__main">
          <h1 class="header__main--h1"><%= title %></h1>
            <hr>
            <div class="header__main--slogan">
              <% for(let val of slogans) { %>
                  <p><%= val %></p>
                <% } %>
            </div>
          </div>
      </header>
        
        <section class="about__section">
          <div class="title__column">
            <h2> <%= about.title %> </h2>
              <hr>
            </div>
            <div class="section__row--grid">
              <div class="about__section--content image-with-text">
                <img src="../images/<%=about.images[0]%>" class="image__round">
                <p> <%= about.content %> </p>
              </div>
              <div class="about__section--content column-2-wide">
                <p> <%= about.content %> </p>
              </div>
               <div class="about__section--content column-2-wide">
                <p> <%= about.content %> </p>
              </div>
               <div class="about__section--content column-2-wide">
                <p> <%= about.content %> </p>
              </div>
            </div>
        </section>
        
        <section class="gallery__section">
          <div class="title__column">
            <h2>Gallery</h2>
            <hr>
          </div>
          <div class="gallery__grid">
            <% for(let img of gallery) { %>
              <div class="img__container">
                  <img src="../images/<%=img%>">
                </div>
              <% } %>
            </div>
        </section>
        
        <section class="contact-form__section">
          <div class="location__left">
            <h3>New York</h3>
            <hr>
          </div>
          <div class="form__container">
              <h2>Send Us An Email.</h2>
              <hr>
            <form>
                <div class="input__row">
                  <input type="email" placeholder="Email Address" required>
                </div>
                <div class="input__row">
                  <input type="text" placeholder="First Name">
                </div>
                <div class="input__row">
                  <input type="text" placeholder="Last Name">
                </div>
                <div class="input__row">
                  <textarea class="message" type="text" placeholder="Message" required></textarea>
                </div>
                <div class="input__row">
                   <button class="contact-form__section--button">Send</button>
                </div>
            </form>
          </div>
          <div class="location__right">
             <h3>Hamptons</h3>
             <hr>
          </div>
        </section>
   </main>
   
<% include partials/footer %>